div.centered {text-align:center;}
div.centered table{margin:0 auto;text-align:left; font-family:Tahoma;font-size:small;width:80%;}
.gridtitle {text-align:center;font-size:large; font-family:Tahoma; font-weight:bold;color:#FFF; text-decoration:underline;}

.webgrid td{border-left:1px solid #FFFFFF;border-right:1px solid #BBB;border-top:1px solid #FFFFFF;border-bottom:1px solid #CCC;vertical-align:middle;line-height:17px;font-family:tahoma;font-size:11px;cursor:pointer;background-color:#DFE6EC;padding:0px;padding-left:2px;padding-right:1px;}

.webgrid th { border-top:1px solid #FFF;background-color:#243646; color:#FFF;border-right:1px solid #BBB; border-left:1px solid #FFFFFF; text-align:center; font-family:tahoma;font-size:11px;font-style:normal;font-weight:bold; padding:2px;;cursor:pointer;}
.gridodd td {background-color:#F9F9F9; }
