<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IntelWebProc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IntelWebProc.Properties.Settings>
            <setting name="dbConString" serializeAs="String">
                <value>Provider=SQLOLEDB;Data Source=BMW7;Initial Catalog=IntelWebDb;User ID=sa;Password=Alliance$1;</value>
            </setting>
        </IntelWebProc.Properties.Settings>
    </applicationSettings>
</configuration>